@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.poppins {
    font-size: 16.6px;
    font-weight: 600;
}


.poppins_2 {
    font-size: 16px;
    font-weight: 400;
}